/* CSS RESET */
    
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

/* /CSS RESET */

/* GENERAL */

    body {
        background-color:#f6f8f9;
    }

    .conteiner {
        width: 70%;
        margin: 0 auto;
    }

/* /GENERAL */

/* HEADER */

    .background-title {
        background-color: white;
        height: 80px;
        line-height: 80px;
    }

    .logo {
        width: 60px;
        margin: 10px 0px 10px 20px;
        vertical-align: middle;
    }

    .logo-text {
        display: inline-block;
        vertical-align: middle;
        font-size: 40px;
        font-family: 'poppins' , sans-serif;
    }

/* /HEADER */

/* MAIN BUTTONS */

    .buttons-container {
        margin-top: 70px;
        background-color: white;
        height: 60px;
        padding: 20px 60px ;
    }

    .button-left {
        background-color: #48adf1;
        font-size: 15px;
        color: white;
        border: none;
        border-radius: 7px;
        height: 30px;
        width: 100px;    
    }

    .button-right {
        background-color: white;
        font-size: 15px;
        color:#c5cbd0;
        border: 1px solid #c5cbd0;
        border-radius: 7px;
        height: 30px;
        width: 100px;
    }

/* /MAIN BUTTONS */

/* LIST ELEMENTS */

    .list-items ul {
        list-style: none;
        font-family: 'PT Sans' , sans-serif;
        padding-bottom: 15px;
    }

    .list-items {
        background-color: white;
        margin-top: 5px;
        list-style: none;
        padding: 40px;
        color: #373a41;
    }

    .down-triangle {
        font-size: 10px;
        margin-right: 5px;
    }

    li {
        margin: 15px 0px;
    }

    .mark {
        height: 20px;
        width: 20px;
        margin-right:20px;
        display: inline-block;
        text-align: center;
        line-height: 15px;
        border-radius: 50%;
        font-size: 10px;
    }

    .cross {
        color: red;
        border: 2px solid red;
    }

    .check {
        color: lightgreen;
        border: 2px solid lightgreen;
    }

    li ul {
        font-weight: bold;
    }

    h3 {
        font-size: x-large;
    }

/* /LIST ELEMENTS */

/* TYPE ELEMENTS */

    .type-element {
        margin-left:10px;
        color: white;
        font-size: 10px;
        display: inline-block;
        height: 22px;
        width: auto;
        border-radius: 20px;
        padding: 10px;
        text-align: center;
        line-height:15%;
    }

    .e-blu {
        background-color:#48adf1;
    }

    .e-violet {
        background-color: #9c72e4;
    }

    .e-green {
        background-color:#64c0a9 ;
    }

    .e-orange {
        background-color: #f29e33;
    }

    .e-pink {
        background-color:#d763a1 ;
    }

    .e-yellow {
        background-color: #b0c925;
    }

/* /TYPE ELEMENT  */



